In [1]:
import pandas as pd
from pymongo import MongoClient
from sqlalchemy import create_engine
import math
import numpy as np
from bson import ObjectId
import json
from sqlalchemy import create_engine

In [2]:
with open('config.json') as config_file:
    config_data = json.load(config_file)
db_settings = config_data['sql_database']
postgres_url = "postgresql://"+db_settings["POSTGRES_USER"]+":"+db_settings["POSTGRES_PASSWORD"]+"@"+db_settings["POSTGRES_HOST"]+":5432/"+db_settings["POSTGRES_DB"]

In [3]:
def write_df_to_table(df_writer, table):
    engine = create_engine(postgres_url)
    df_writer.to_sql(table, engine, if_exists='append',  index=False)

In [4]:
def _connect_mongo(host, port, username, password, db, authSource):
    if username and password:
        conn = MongoClient(host=host,
                            port=port,
                            username=username,
                            password=password,
                           authSource=authSource)
    else:
        conn = MongoClient(host, port)
        
    return conn[db]

In [5]:
def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, authSource="admin"):
    # Connect to MongoDB
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db, authSource=authSource)
    cursor = db[collection].find(query)
    df =  pd.DataFrame(list(cursor))
    return df

In [6]:
def verify(d, key):
    if (key in d) :
        if (d[key]is not np.nan):
            return d[key] 
    else:
        return None

In [7]:
def affectation(k):
    m=dict()
    m['first_name']=verify(k,"first_name")
    m['last_name']=verify(k,"last_name")
    m['idemp']=verify(k,"registration_number")
        
#     lr=verify(k,"hiring_exit")
#     if lr is not None :
#         m['CRLeaveReason']=verify(lr,"leave_reason")
#     else :
#         m['CRLeaveReason'] = ""  
    
    return m

# Dimemp

In [10]:
df = read_mongo("coreRh","employee",username="accretioadmin",password="adminaccretio&2017")
df_company = read_mongo("coreRh","company",username="accretioadmin",password="adminaccretio&2017")[["_id","label"]]

In [11]:
df = df[["registration_number", "first_name", "last_name", "hiring_exit", "affectation" ]]
datadict = df.to_dict('records')
liste=[]
for i in datadict:
    temp = affectation(i)   
    if (verify(i["hiring_exit"], "hiring_company" ) is not None):
        temp['company']=i["hiring_exit"]["hiring_company"].id 
    else :
        temp['company']= None  
    liste.append(temp)    

df = pd.DataFrame(liste)

In [12]:
df_company.rename({"_id":"company"}, inplace=True, axis=1)
df = df.merge(df_company, on='company', how='left')
df.drop("company", axis=1, inplace=True)
df.rename({"label":"company"}, inplace=True, axis=1)

In [13]:
dimemployee = df

In [14]:
type(dimemployee["idemp"][0])

str

## Dimtopic

In [16]:
df_topic = read_mongo("topic_detection","topic",username="accretioadmin",password="adminaccretio&2017")

In [17]:
dimtopic = df_topic[["idtopic","assigned_name","importance"]]

In [18]:
dimtopic

   idtopic assigned_name  importance
0        2        succès         157
1        3        client         157
2        1         sport          51
3        4  teambuilding          46
4        5     bienvenue          43
5        0    précaution          41

## Dimpost

In [38]:
df_post = read_mongo("connectTimeline","post",username="accretioadmin",password="adminaccretio&2017")

In [39]:
df_post.head(1)

,_id,_class,attached_file,type,registrationNumber,likes,comments,timelines,body,publish_date,idNews,title,pictures,document_name,taggedEmployees
0,5bae630cdb5d87000977308d,com.advyteam.sirh.domain.post.Picture,aad42685-a1d1-47fd-b592-63bb861b2c1d,PICTURE,00115,"[{'_id': None, 'registrationNumber': '00079', ...",[5bb2973ba5b16a0001ef4ead],[],"Ooredoo, Acteur essentiel du secteur des nouve...",2018-09-28 17:20:14.253,5bae630cdb5d87000977308e,NaN,NaN,NaN,NaN

In [40]:
df_post = df_post[["_id","attached_file","registrationNumber","likes","comments","body"]]

In [41]:
df_post["idemp"] = df_post["registrationNumber"]
df_post["text"] = df_post["body"]
df_post["idpost"] = df_post["_id"].astype(str)

df_post['count_likes'] = df_post['likes'].str.len()
df_post['count_comments'] = df_post['comments'].str.len()

df_post.loc[df_post['count_likes'].isnull(), 'count_likes'] = 0
df_post.loc[df_post['count_comments'].isnull(), 'count_comments'] = 0

df_post = df_post[["idpost","text","attached_file","count_likes","count_comments","idemp"]]

In [42]:
df_topic = df_topic[["idtopic","posts"]]
datadict = df_topic.to_dict('records')
temp = dict()
liste = list()
for i in datadict : 
    idtopic = i["idtopic"]
    for j in i["posts"]:
        temp["idtopic"] = idtopic
        temp["idpost"] = j
        liste.append(temp.copy())
df_post_topic = pd.DataFrame(liste)

In [43]:
dimpost = df_post.merge(df_post_topic, on='idpost', how='inner')

In [44]:
dimpost["score"] = dimpost["count_comments"] * 3 + dimpost["count_likes"]

In [45]:
dimpost["idpost"] = dimpost["idpost"].astype(str)

In [46]:
dimpost["idpost"]

0      5c2ded63a4791700013bfeb1
1      5c2df272a4791700013bfeb9
2      5c2e1227a4791700013bfec1
3      5c2e38e5a4791700013bfed2
4      5c2e3a08a4791700013bfed3
                 ...
490    5e0334467e464300014a0016
491    5e32dddac21d7700014c439a
492    5e9ed3176847650001dda971
493    5ebe7717cc05530001fd33ff
494    5f369c79e032360001e5944e
Name: idpost, Length: 495, dtype: object

In [47]:
factanalysis = dimpost[["idemp","idpost","score"]]

In [31]:
#factanalysis = dimemployee.merge(factanalysis, on='idemp', how='inner')

In [32]:
dimpost = dimpost[["idpost","idtopic","text","attached_file","count_likes","count_comments"]]

In [33]:
#write_df_to_table(dimemployee,'dimemployee')

In [34]:
#write_df_to_table(dimtopic,'dimtopic')

In [35]:
#write_df_to_table(dimpost,'dimpost')

In [48]:
#write_df_to_table(factanalysis,'factanalysis')